@import "helpers/variables", "helpers/mixins", "helpers/placeholders";


body{
  font-family: Arial, sans-serif;
  padding: 50px;
  font-size: 18px;
}

.green{
  @include span-class('green');
  @extend %white-text-padding;
}

.blue{
  @include span-class('blue');
  @extend %white-text-padding;
}

.teal{
  @include span-class('teal');
  @extend %white-text-padding;
}

.col{
  margin: 80px 0 80px 0;
}

p{
  margin: 30px 0 30px 0;
}

.small-info{
  font-size: 12px;
}
