@import "helpers/variables", "helpers/mixins", "helpers/placeholders";


body{
  font-family: Arial, sans-serif;
  padding: 50px;
  font-size: 18px;
}

.green{
  @include span-class('green');
  @extend %white-text-padding;
}

.blue{
  @include span-class('blue');
  @extend %white-text-padding;
}

.teal{
  @include span-class('teal');
  @extend %white-text-padding;
}

.col{
  margin: 60px 0 60px 0;
}


h2{
  padding: 0 0 20px 0;
}

.small-info{
  font-size: 12px;
}

.color-details{
  padding: 10px;
}
